/* layout.tsx */
.container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 100dvw;
  height: 100dvh;
}
/* page.tsx */
.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right h1 {
  font-weight: bold;
  font-size: 64px;
  margin-bottom: 48px;
}
.right h2 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 16px;
}
.right h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
  margin-top: 40px;
}
.button {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
}
.signup:hover {
  background-color: rgb(26, 140, 216);
}
.login {
  color: rgb(29, 155, 240);
  border: 1px solid rgb(207, 217, 222);
}
.login:hover {
  background-color: rgba(29, 155, 240, 0.1);
}
